@using EntityLayer.Concrete
@model List<Notification>
@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<table class="table table-striped">
    <tr>
        <th>#</th>
   
        <th>Bildirim</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.NotificationID</td>
       
            <td>@item.NotificationDetails</td>
            
        </tr>
    }
</table>

